@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root{
    --primary-color: #7C3AED;
    --gray-color: #6B7280;
    --off-white-color: #E5E7EB;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}

hr{
    margin: 2rem;
}

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.primary-link{
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}
.secondary-link{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

.unordered-list{
    list-style: none;
}
.inline-list-item{
    display: inline;
    padding: 0rem .5rem;
}
.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}
.navigation .link-active{
    font-weight: bold;
}
.nav-link{
    text-decoration: none;
    color: white;
}
.nav-list{
    text-align: right;
    /* padding: 1rem; */
}
.nav-brand{
    /* padding: 1rem; */
    font-weight: bold;
}

.hero{
    padding: 2rem;
}
.hero .hero-img{
    display: block;
    max-width: 400px;
    margin: auto;
}
.hero .hero-span{
    color: var(--primary-color);
}
.hero .hero-heading{
    color: var(--gray-color);
    text-align: center;
}

.section h3{
    text-align: center;
    padding: 1rem;
}
.section-w{
    padding: 2rem 1rem;
}
.section-ow{
    background-color: var(--off-white-color);
    padding: 2rem 1rem;
}

.footer{
    background-color: var(--primary-color);
    padding: 1rem 1rem;
    border-top-right-radius: 1rem;
    color: white;
    text-align: center;
}

.footer .link{
    color: white;
    text-align: center;
}
.footer ul{
    padding-inline-start: 0px;
}
/* css tricks website is bible for css */
/* we will be using tailwind css colors for theme color */
/* for reverse ordering the list just add 'reversed' in html only */